# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Power BI
*.pbix
*.pbit
*.pbi

# SQL Server
*.bak
*.bacpac
*.bim

# SSIS / Visual Studio
**/bin/
**/obj/
*.user
*.suo
*.cache

# Python / Jupyter
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
.env

# Raw data files
*.csv
*.zip
*.7z
!07_Advance_Analytics/**/outputs/*.csv

# Logs
*.log
