# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Power BI
*.pbix
*.pbit
*.pbi

# SQL Server
*.bak
*.bacpac
*.bim

# SSIS / Visual Studio
**/bin/
**/obj/
*.user
*.suo
*.cache

# Python
.ipynb_checkpoints/

# Raw data files
*.csv
*.zip.ipynb_checkpoints/
*.7z

# Logs
*.log
